/*----------------- Reset ------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------- Fonts ----------------*/

@font-face {
    font-family: "Melodrama-Regular";
    src: url(../fonts/Melodrama-Regular.woff);
}

@font-face {
    font-family: "Melodrama-Light";
    src: url(../fonts/Melodrama-Light.woff);
}

@font-face {
    font-family: "Switzer-Light";
    src: url(../fonts/Switzer-Light.woff);
}

@font-face {
    font-family: "Switzer-Medium";
    src: url(../fonts/Switzer-Medium.woff);
}

@font-face {
    font-family: "Satoshi-Light";
    src: url(../fonts/Satoshi-Light.woff);
}

@font-face {
    font-family: "Satoshi-Regular";
    src: url(../fonts/Satoshi-Regular.woff);
}

@font-face {
    font-family: "BillionaireMediumGrunge";
    src: url(../fonts/BillionaireMediumGrunge.woff);
}

@font-face {
    font-family: "MADECannes.woff";
    src: url(../fonts/MADECannes.woff);
}

@font-face {
    font-family: "NixieOne.woff";
    src: url(../fonts/NixieOne.woff);
}

@font-face {
    font-family: "Riesling.woff";
    src: url(../fonts/Riesling.woff);
}

@font-face {
    font-family: "Typewriter_Condensed";
    src: url(../fonts/Typewriter_Condensed.woff);
}


/*---------------- Variables --------------*/
:root {

    /** COLORS */
    /* --background: #151417; */
    --blackSide: #020202;
    --whiteSide: #ffffff;
    --color-name2: #c2e59c;
    --color-subtitle: #f2f2f2;

    /** FONTS */
    --font-title: "BillionaireMediumGrunge";
    --font-subtitle: "BillionaireMediumGrunge";
    --font-links: "Typewriter_Condensed";

}

/*---------------- Header -----------------*/

header {
    cursor: none; 
    display: flex;
    height: 100vh;
}

.whiteSide {
    position: fixed;
    height: 100vh;
    width: 50vw;
    background: var(--whiteSide);
    z-index: -2;
   
}

.blackSide {
    position: fixed;
    left: 50%;
    height: 100vh;
    width: 50vw;
    background: var(--blackSide);
    z-index: -2;
}

#presentation{
    margin: auto;
    padding-left: 2rem;
}

h1 {
    display: inline;
    margin: 0px 45px 0px 0px;
    font-family: var(--font-title);
    color: var(--blackSide);
    font-size: 6.5rem;
    position: relative;
}

h2{
    display: inline;
    margin: 0px 50px 0px 0px;
    font-family:var(--font-title);
    color: var(--blackSide);
    font-size: 50px;
    position: relative;
    left: 4.5rem;
}

.wLetter{
    color:var(--whiteSide);
}

.bLetter{
    color: var(--blackSide);
}

.socialMedia{
    font-family: var(--font-links);
    font-size: 1.3rem;
    margin-top: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--blackSide);  
}

.socialMedia a{
    position: relative;
    padding: 0rem 3.2rem 0rem 0rem;
    left: 17%;
    text-decoration: none;
}

.bLetter:hover{
    color: var(--blackSide);
    cursor: none;
}

.wLetter:hover{
    color: var(--whiteSide);
    cursor: none;
}

.socialMedia:hover ~ .cursor{
    transform: scale(3);

}

.job:hover ~.cursor{
    transform: scale(3);
}
.myName:hover ~.cursor{
    transform: scale(5);
}


/* ------------- Navigation ------------------*/



/*----------------ABOUT-----------------*/


/*---------- Mouse Effect -----------*/
.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    transition: .1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}

/*------------- Images ------------*/