/*----------------- Reset ------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------- Fonts ----------------*/

@font-face {
    font-family: "Melodrama-Bold";
    src: url(../fonts/Melodrama-Bold.woff);
}
@font-face {
    font-family:"Melodrama-Regular" ;
    src: url(../fonts/Melodrama-Regular.woff);
}
@font-face {
    font-family:"Melodrama-Light" ;
    src: url(../fonts/Melodrama-Light.woff);
}
@font-face {
    font-family: "Switzer-Bold";
    src: url(../fonts/Switzer-Bold.woff);
}
@font-face {
    font-family:"Switzer-Light";
    src: url(../fonts/Switzer-Light.woff);
}
@font-face {
    font-family:"Switzer-Medium" ;
    src: url(../fonts/Switzer-Medium.woff);
}
@font-face {
    font-family:"Satoshi-Bold" ;
    src: url(../fonts/Satoshi-Bold.woff);
}
@font-face {
    font-family: "Satoshi-Light";
    src: url(../fonts/Satoshi-Light.woff);
}
@font-face {
    font-family: "Satoshi-Regular";
    src: url(../fonts/Satoshi-Regular.woff);
}
@font-face {
    font-family: "Satoshi-Medium";
    src: url(../fonts/Satoshi-Medium.woff);
}


/*---------------- Variables --------------*/
:root{

    /** COLORS */
        /* --background: #151417; */
    --background: #08070b;
    --color-name1: #64b3f4 ;
    --color-name2: #c2e59c ;
    --color-subtitle: #f2f2f2;
    
    /** FONTS */
    --font-title: "Satoshi-Bold";
    --font-subtitle: "Satoshi-Light";
    --font-links: "Switzer-Light";

}

body{
    background: var(--background);
    cursor: none;
    height: 100vh;
    width: 100vw;
    display: flex;
}

/*---------------- Header -----------------*/

.container{
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-20%, -45%);
}

h1{
    /* background: linear-gradient(to right, rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234)); */
    background-image: linear-gradient(60deg, var(--color-name1) 0%, var(--color-name2) 100%);
    font-family: var(--font-title);
    font-size: 4.4rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
    letter-spacing: 2px;
}

h4{
    color: var(--color-subtitle);
    font-family: var(--font-subtitle);
    letter-spacing: 2px;
}

/* ------------- Navigation ------------------*/

ul{
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 11%;

    
}

ul li {
    list-style: none;
    margin-right: 50px;
    margin-top: 30px;
       
}

ul li a{
    font-family: var(--font-links);
    position: relative;
    text-decoration: none;
    color: var(--color-subtitle);
    font-size: 1.2rem;
    transition: .2s;
    cursor: none;
}
ul:hover ~ .cursor{
    transform: scale(3);
   }

/*---------- Mouse Effect -----------*/
.cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    transition: .1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;

}

/*------------- Images ------------*/

header img{
    position: absolute;
    right: 0;
    top: 15%;
    width: 60%;
    z-index: 2;
}
